# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.flask_session
flask_session/
.__pychache__
__pychache__/
.static/img/output
static/img/output/
__pycache__/Filters.cpython-310.pyc
*.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Images/screenshots/12943.png
Images/screenshots/harris.png
Images/screenshots/joker2.jpg
Images/screenshots/lambda.png
Images/screenshots/NCC.png
Images/screenshots/sift.png
Images/screenshots/SSD matching.png
Images/test/340135302_1161986244480260_4096549567885654746_n.jpg
Images/test/34017.png
Images/test/340636075_1258044481795698_2954033206907005217_n.jpg
Images/test/batman.jpeg
Images/test/batman2.png
Images/test/corner.png
Images/test/dog1.jpg
Images/test/dog2.jpg
Images/test/joker1.jpg
Images/test/joker2.jpg
Images/test/بقره1.jfif
Images/test/بقره2.jfif
Images/test/dog1.jpg
Images/test/dog2.jpg
